[Unit]
Description=step-ca Certificate Authority
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ step_ca_user }}
Group={{ step_ca_group }}
WorkingDirectory={{ step_ca_home }}
Environment=STEPPATH={{ step_ca_home }}/authorities/{{ step_ca_issuing_context }}
ExecStart=/usr/bin/step-ca --password-file {{ step_ca_home }}/authorities/{{ step_ca_issuing_context }}/secrets/ca-password
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
